/*------------------------Master Style
By Angeles Mayorga - Web Developer
Email: digitalpalmyra@gmail.com
------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Mulish', sans-serif;
}

a{
    text-decoration: none !important;
}



.gds_app{
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    color: #002944;
    display: flex;
    min-height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;


}

/*----------NAVIGAION BAR----------*/
.custom_navbar {
    background-color: #ffffff !important;
    box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}

.navbar-brand{
    width:10%;
}

.custom_navbar .offline_navigation .custom_item{
    padding:0 22px;
    color:#002944 !important;
}

.custom_navbar .offline_navigation .custom_item .nav-link{
    color:#002944 !important;
}

.custom_navbar .offline_navigation .custom_item .nav-link.active,{
    color:#d9b156 !important;
}

.login_user{
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    color:#002944 !important;
    border: 1px solid #002944 !important;
    box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}

.login_user:hover{
    background: #002944 !important;
    color:#ffffff !important;
}
/*----------LOGIN STYLE----------*/

.custom_access{
    padding: 50px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}

.action_button{
    padding-top:30px;
}

.custom_action-button{
    background-color: #002944 !important;
    color:#ffffff !important;
    font-size: 18px !important;
    border: 1px solid #002944 !important;
    box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}

.custom_action-button:hover{
    background: #002944 !important;
    color:#ffffff !important;
}

.deploying_form{
    padding:30px;
}

.custom_tittle{
    padding-bottom: 30px;
}

.custom_input{
    padding:15px !important;
}

.custom_footer{
    background-color:#002944;
    padding: 10px 0;
}
